<FlexboxLayout>
    <StackLayout class="form" [class.dark]="!isLoggingIn" rows="auto, auto, auto, auto, auto">
        
        <Image
            [src]="isLoggingIn ? '~/app/images/logo_blue.png' : '~/app/images/logo_white'"
            [isEnabled]="!isLoading" row="0">
        </Image>

        <TextField hint="Email Address" keyboardType="email"
            autocorrect="false" autocapitalizationType="none"
            [(ngModel)]="user.email" class="input input-border"
            [isEnabled]="!isLoading" row="1">
        </TextField>
        <TextField hint="Password" secure="true" [(ngModel)]="user.password"
            class="input input-border" [isEnabled]="!isLoading" row="2">
        </TextField>

        <Button [text]="isLoggingIn ? 'Sign in' : 'Sign up'"
            class="btn btn-primary" (tap)="submit()" [isEnabled]="!isLoading"
            row="3">
        </Button>
        <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'"
            (tap)="toggleDisplay()" [isEnabled]="!isLoading" row="4">
        </Button>

        <ActivityIndicator [busy]="isLoading" rowSpan="5"
            [visibility]="isLoading ? 'visible' : 'collapse'"
            horizontalAlignment="center" verticalAlignment="center">
        </ActivityIndicator>

    </StackLayout>

</FlexboxLayout>